<head th:fragment="head" )>
	<meta charset="UTF-8">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/jquery-3.7.1.min.js"></script>
	<script src="/js/script.js"></script>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<title>EscuelaDluz</title>
	<link rel="icon" type="image/x-icon" href="/img/logoDluz.png">
</head>