<!DOCTYPE html>
<html lang="en">
<html xmls:th="http://www.thymeleaf.org">

</html>

<head th:insert="~{layouts/head}"></head>

<body>
	<script>
		function confirmarRedireccion(event) {
			// Prevenimos la acción por defecto del enlace
			event.preventDefault();

			// Obtenemos la URL generada por Thymeleaf
			var url = event.target.getAttribute('href');

			// Primera confirmación
			var confirmacion1 = confirm("¿Seguro? Si confirmas, el alumno sera graduado.");

			if (confirmacion1) {
				// Si la primera confirmación es aceptada, mostramos la segunda confirmación
				window.location.href = url;

			}
		}
	</script>
	<header th:insert="~{layouts/header}"></header>
	<div class="d-flex justify-content-center">
		<div class="container-page">
			<h1 th:text="${titulo}" class="py-4 text-center"></h1>
			<div class="col row-cols-1">
				<form th:action="@{/appointments/view/filter}" method="get" enctype="multipart/form-data" class="">
					<div class="cointainer">
						<div class="row">
							<div class="col-sm">
								<label id="filterLabel">Filtrar</label>
								<input type="text" class="form-control" id="filter" name="filter">
							</div>

							<div class="col-sm">
								<label>Filtrar por:</label>
								<select class="form-select" id="filterType" name="filterType">
									<option value="name" selected="selected">
										Nombre/apellido del alumno.</option>
									<option value="appointmentdate">Fecha de turno.</option>
									<option value="appointmenttype"> Tipo de turno </option>
									<option value="appointmentcomplete"> Estado del turno </option>
								</select>
							</div>

							<div style="display:none;" id="hide-div" class="col-sm">
								<label>Fecha: </label>
								<input type="date" id="appointmentDate" class="form-control" name="appointmentDate">
							</div>

							<div>
								<label>Ordenar por: </label>
								<select class="form-select" id="orderType" name="orderType">
									<option value="null" selected="selected">
										Fecha del proximo turno</option>
									<option value="name">
										Nombre/apellido alfabeticamente</option>
									<option value="nameReverse">
										Nombre/apellido alfabeticamente reversa</option>
									<option value="classasc">
										clase del turno menor a mayor</option>
								</select>
							</div>

							<div class="div-buton-submit col-sm">
								<button type="submit" class="btn btn-outline-primary boton-submit">Filtrar</button>
							</div>
						</div>
					</div>
				</form>
				<div th:if="${!#lists.isEmpty(pastAppointments)}" class="mt-5 mb-5">
					<h3> Los siguentes turnos ya pasaron la fecha actual, se debe completarlos</h3>

					<table class="table">
						<thead>
							<tr>
								<th scope="col"> Nombre/s </th>
								<th scope="col"> Apellido </th>
								<th scope="col"> Fecha del turno </th>
								<th scope="col"> Hora del turno </th>
								<th scope="col"> Completar </th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							<tr th:each="pastAppointment : ${pastAppointments}">
								<th th:text="${pastAppointment.student.fistName}"></th>
								<th th:text="${pastAppointment.student.lastName}"></th>
								<th th:text="${pastAppointment.appointmentDate}"></th>
								<th th:text="${pastAppointment.appointmentTime}"></th>
								<th>
									<form th:action="@{'/appointment/Complete/view/' + ${pastAppointment.id}}"
										method="post" enctype="multipart/form-data">
										<div class="d-flex flex-row">
											<select id="completedType" name="completedType" class="form-control">
												<option th:value="Completado" selected="selected"> Completado con exito
												</option>
												<option th:value="Inasistencia"> Inasistencia del alumno </option>
												<option th:value="CanceladoB"> Cancelado por instructor </option>
											</select>
											<div class="ml-7">
												<button type="submit"
													class="btn btn-outline-primary boton-submit">Completar
													turno</button>
											</div>
										</div>
									</form>
								</th>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="mt-3">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Nombre/s</th>
								<th scope="col">Apellido</th>
								<th class="hide-width" scope="col">Clase numero</th>
								<th class="hide-width" scope="col">Tipo de turno</th>
								<th class="hide-width" scope="col">Estado del turno</th>
								<th scope="col">Fecha</th>
								<th scope="col">Acciones</th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							<tr th:each="appointment : ${appointments}">
								<th th:text="${appointment.student.fistName}"></th>
								<td th:text="${appointment.student.lastName}"></td>
								<td class="hide-width">
									<div>
										<p th:text="${appointment.appointmentClassNumber}">
										</p>
									</div>
								</td>
								<td class="hide-width" th:text="${appointment.appointmentType}"></td>
								<td class="hide-width" th:text="${appointment.appointmentComplete}"></td>
								<td>
									<div class="d-flex flex-row div-mover">
										<ul class="ul-style d-flex flex-row">
											<li th:text="${appointment.appointmentDate != null ?
																				#dates.format(appointment.appointmentDate, 'EEEE dd/MM/yyyy') : 'Sin turno asignado'}"
												class="ul-style"></li>

											<li th:text="${appointment.appointmentTime != null ?
																				appointment.appointmentTime : ''}" class="ul-style time-style"></li>
										</ul>
									</div>
								</td>

								<td id="acciones">
									<div class="d-flex flex-row div-mover">
										<div class="ul-style d-flex flex-row">
											<a th:href="@{'/appointment/edit/' + ${appointment.student.id} + '/' + ${appointment.id}}"
												class="btn-href">
												Editar
											</a>
										</div>
										<form th:action="@{'/appointment/Complete/view/' + ${appointment.id}} + '/2'"
											method="post" enctype="multipart/form-data">
											<div class="d-flex flex-row">
												<select id="completedTypeTable" name="completedTypeTable"
													class="form-control">
													<option th:value="Completado" selected="selected"> Completado con
														exito
													</option>
													<option th:value="Inasistencia"> Inasistencia del alumno </option>
													<option th:value="CanceladoB"> Cancelado por instructor </option>
												</select>
												<div class="ml-7">
													<button type="submit"
														class="btn btn-outline-primary boton-submit">Completar
														turno</button>
												</div>
											</div>
										</form>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#strings.equalsIgnoreCase(appointments, 'Page 1 of 1 containing UNKNOWN instances')}">
						<p>Parece que no hay alumnos que concuerden con los parametros deseados...</p>
						<a href="/home">Limpiar Filtros</a>
					</div>
				</div>
			</div>

			<nav aria-label="Page navigation example" class="mt-4">
				<p th:text="${paginas}"></p>
				<ul class="pagination justify-content-center">
					<li class="page-item" th:each="pagina : ${paginas}"
						th:classappend="${pagina == actual ? 'active' : ''}">
						<a class="page-link" th:href="@{'/appointments/view?pagina=' + ${pagina-1}}"
							th:text="${pagina}"></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<script>
		// Función para transferir el valor del input de tipo date al input de tipo text
		document.getElementById('appointmentDate').addEventListener('input', function () {
			var dateValue = this.value; // Obtener el valor del input de tipo date
			document.getElementById('filter').value = dateValue; // Asignarlo al input de tipo text
		});

		document.getElementById('filterType').addEventListener('change', function () {
			var filterType = this.value;
			var filterLabel = document.getElementById('filterLabel')
			var filterInput = document.getElementById('filter');
			var appointmentDateInput = document.getElementById('hide-div');

			filterInput.value = '';

			if (filterType === 'appointmentDate') {
				appointmentDateInput.style.display = 'inline';
				filterInput.style.display = 'none';
				filterLabel.style.display = 'none';
			} else {
				appointmentDateInput.style.display = 'none';
				filterInput.style.display = 'inline';
				filterLabel.style.display = 'inline';
			}

			if (filterType === 'DNI' || filterType === 'Age' || filterType === 'nonAtten') {
				filterInput.setAttribute('type', 'number');
				filterInput.addEventListener('input', restrictToNumbers);
			} else {
				filterInput.setAttribute('type', 'text');
				filterInput.removeEventListener('input', restrictToNumbers);
			}
		});

		// Función para restringir solo números
		function restrictToNumbers(event) {
			this.value = this.value.replace(/[^0-9]/g, ''); // Elimina caracteres no numéricos
		}

		$('input[type="radio"]').on('click', function () {
			window.location = $(this).val();
		});
	</script>
</body>

</html>