<!DOCTYPE html>
<html lang="en">
<html xmls:th="http://www.thymeleaf.org">

</html>

<head th:insert="~{layouts/head}">

</head>

<body>
	<header th:insert="~{layouts/header}"></header>
	<div class="d-flex justify-content-center">
		<div class="container-page">
			<h1 class="py-4 text-center">Detalles del Estudiante</h1>

			<div>
				<label for="firstName">Nombre/s:</label>
				<span th:text="${student.fistName}"></span>
			</div>

			<div>
				<label for="lastName">Apellido:</label>
				<span th:text="${student.lastName}"></span>
			</div>

			<div>
				<label for="studentAddress">Dirección del estudiante:</label>
				<span th:text="${student.studentAddress}"></span>
			</div>

			<div>
				<label for="studentPartido">Partido del estudiante:</label>
				<span th:text="${student.studentPartido}"></span>
			</div>

			<div>
				<label for="studentRecomen">Recomendación:</label>
				<span th:text="${student.studentRecomen}"></span>
			</div>

			<div>
				<label for="studentComment">Comentario sobre el estudiante:</label>
				<span th:text="${student.studentComment}"></span>
			</div>

			<div>
				<label for="studentCourseBegg">Fecha de inicio del curso:</label>
				<span th:text="${#dates.format(student.studentCourseBegg, 'dd/MM/yyyy')}"></span>
			</div>

			<div>
				<label for="studentDNI">DNI del estudiante:</label>
				<span th:text="${student.studentDNI}"></span>
			</div>

			<div>
				<label for="studentTel">Teléfono del estudiante:</label>
				<span th:text="${student.studentTel}"></span>
			</div>

			<div>
				<label for="studentAge">Edad del estudiante:</label>
				<span th:text="${student.studentAge}"></span>
			</div>

			<div>
				<label for="studentNonAtten">Faltas del estudiante:</label>
				<span th:text="${student.studentNonAtten}"></span>
			</div>

			<div>
				<label for="studentPdf">Vio el estudiante el PDF:</label>
				<span th:text="${student.studentPdf ? 'Sí' : 'No'}"></span>
			</div>

			<div>
				<label for="studentZigZag">Practico el estudiante el ZigZag:</label>
				<span th:text="${student.studentZigZag ? 'Sí' : 'No'}"></span>
			</div>

			<div>
				<label for="studentEstacionar">Practico el estudiante el Estacionamiento:</label>
				<span th:text="${student.studentEstacionar ? 'Sí' : 'No'}"></span>
			</div>

			<div>
				<label for="studentGiroU">Practico el estudiante el Giro en U:</label>
				<span th:text="${student.studentGiroU ? 'Sí' : 'No'}"></span>
			</div>

			<div>
				<label for="studentVideoPista">Vio el estudiante el video de la pista:</label>
				<span th:text="${student.studentVideoPista ? 'Sí' : 'No'}"></span>
			</div>

			<div>
				<label for="studentGraduate">Esta graduado el estudiante:</label>
				<span th:text="${student.studentGraduate ? 'Sí' : 'No'}"></span>
			</div>

			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							Turnos proximos
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse show">
						<div class="accordion-body">
							<span class="d-flex justify-content-center">
								<div class="d-flex flex-column" style="width: 70%;">
									<div th:if="${!#lists.isEmpty(upcomingAppointments)}">
										<!--								<h3>Turnos Proximos</h3>-->
										<table class="table">
											<thead>
												<tr>
													<th scope="col">Fecha del turno</th>
													<th scope="col">clase del turno</th>
													<th class="hide-width" scope="col">Tipo de turno</th>
													<th scope="col" style="padding-left: 4%;">Acciones</th>
												</tr>
											</thead>
											<tbody class="table-group-divider">
												<tr th:each="appointment : ${upcomingAppointments}">
													<th>
														<div class="d-flex flex-row div-mover">
															<ul class="ul-style d-flex flex-row">
																<li th:text="${appointment.appointmentDate != null ? #dates.format(appointment.appointmentDate, 'EEEE dd/MM/yyyy') : 'Sin turno asignado'}"
																	class="ul-style"></li>

																<li th:text="${appointment.appointmentTime != null ? appointment.appointmentTime : ''}"
																	class="ul-style time-style"></li>
															</ul>
														</div>
													</th>
													<td th:text="${appointment.appointmentClassNumber}"
														style="padding-left: 5%;"></td>
													<td class="hide-width" th:text="${appointment.appointmentComplete}">
													</td>
													<td id="acciones" style="padding-left: 4%;">
														<div class="d-flex flex-column div-mover">
															<div class="ul-style d-flex flex-row">
																<a th:href="@{'/appointment/edit/' + ${student.id}} + '/' + ${appointment.id}"
																	class="btn-href">
																	Editar Turno </a>
																<div th:if="${appointment.appointmentComplete != 'Completado' 
																														           and appointment.appointmentComplete != 'Inasistencia' 
																														           and appointment.appointmentComplete != 'CanceladoB'}">
																	<form
																		th:action="@{'/appointment/Complete/student/' + ${appointment.id}}"
																		method="post" enctype="multipart/form-data">
																		<div class="d-flex flex-row">
																			<select id="completedType"
																				name="completedType"
																				class="form-control">
																				<option th:value="Completado"
																					selected="selected">
																					Completado con exito</option>
																				<option th:value="Inasistencia">
																					Inasistencia
																					del alumno
																				</option>
																				<option th:value="CanceladoB"> Cancelado
																					por
																					instructor
																				</option>
																				<input type="hidden"
																					th:value="${student.id}"
																					id="studentId" name="studentId">
																			</select>
																			<div class="ml-7">
																				<button type="submit"
																					class="btn btn-outline-primary boton-submit">Completar
																					turno</button>
																			</div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
									<div th:if="${#lists.isEmpty(upcomingAppointments)}">
										<p style="text-align: center;">El Alumno no tiene turnos proximos asignados...
										</p>
										<div class="d-flex justify-content-center">
											<a th:href="@{'/appointment/' + ${student.id}}" class="btn-href mt-4">
												Agregar
												turno </a>
										</div>
									</div>
								</div>
							</span>
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							Turnos pasados
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse show">
						<span class="d-flex justify-content-center">
							<div class="d-flex flex-column" style="width: 70%;">
								<div th:if="${!#lists.isEmpty(pastAppointments)}">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">Fecha del turno</th>
												<th scope="col">clase del turno</th>
												<th class="hide-width" scope="col">Tipo de turno</th>
												<th scope="col" style="padding-left: 4%;">Acciones</th>
											</tr>
										</thead>
										<tbody class="table-group-divider">
											<tr th:each="appointment : ${pastAppointments}">
												<th>
													<div class="d-flex flex-row div-mover">
														<ul class="ul-style d-flex flex-row">
															<li th:text="${appointment.appointmentDate != null ? #dates.format(appointment.appointmentDate, 'EEEE dd/MM/yyyy') : 'Sin turno asignado'}"
																class="ul-style"></li>

															<li th:text="${appointment.appointmentTime != null ? appointment.appointmentTime : ''}"
																class="ul-style time-style"></li>
														</ul>
													</div>
												</th>
												<td th:text="${appointment.appointmentClassNumber}"
													style="padding-left: 5%;">
												</td>
												<td class="hide-width" th:text="${appointment.appointmentComplete}">
												</td>
												<td id="acciones" style="padding-left: 4%;">
													<div class="d-flex flex-column div-mover">
														<div class="ul-style d-flex flex-row">
															<a th:href="@{'/appointment/edit/' + ${student.id}} + '/' + ${appointment.id}"
																class="btn-href">
																Editar Turno </a>
															<div th:if="${appointment.appointmentComplete != 'Completado' 
																							           and appointment.appointmentComplete != 'Inasistencia' 
																							           and appointment.appointmentComplete != 'CanceladoB'}">
																<form
																	th:action="@{'/appointment/Complete/student/' + ${appointment.id}}"
																	method="post" enctype="multipart/form-data">
																	<div class="d-flex flex-row">
																		<select id="completedType" name="completedType"
																			class="form-control">
																			<option th:value="Completado"
																				selected="selected">
																				Completado con exito</option>
																			<option th:value="Inasistencia">
																				Inasistencia del alumno
																			</option>
																			<option th:value="CanceladoB"> Cancelado por
																				instructor
																			</option>
																			<input type="hidden"
																				th:value="${student.id}" id="studentId"
																				name="studentId">
																		</select>
																		<div class="ml-7">
																			<button type="submit"
																				class="btn btn-outline-primary boton-submit">Completar
																				turno</button>
																		</div>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</span>
					</div>
				</div>
				<!--				<div class="accordion-item">-->
				<!--					<h2 class="accordion-header">-->
				<!--						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"-->
				<!--							data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"-->
				<!--							aria-controls="panelsStayOpen-collapseThree">-->
				<!--							Pagos del alumno-->
				<!--						</button>-->
				<!--					</h2>-->
				<!--					<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show">-->
				<!--						<div class="accordion-body">-->
				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button" type="button" data-bs-toggle="collapse"
							data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							Turnos pasados
						</button>
					</h2>
					<div id="collapseThree" class="accordion-collapse collapse show">
						<span class="d-flex justify-content-center">
							<div class="d-flex flex-column " style="width: 70%;">
								<div th:if="${!#lists.isEmpty(student.studentPayments)}">
									<table class="table">
										<thead>
											<tr>
												<th scope="col">Fecha del pago</th>
												<th scope="col">Tipo de pago</th>
												<th class="hide-width" scope="col">cantidad del pago</th>
												<th class="hide-width" scope="col">numero del pago</th>
												<!--									<th scope="col" style="padding-left: 4%;">Acciones</th>-->
											</tr>
										</thead>
										<tbody class="table-group-divider">
											<tr th:each="payment : ${student.studentPayments}">
												<th>
													<div class="d-flex flex-row div-mover">
														<ul class="ul-style d-flex flex-row">
															<li th:text="${payment.paymentDate != null ? #dates.format(payment.paymentDate, 'EEEE dd/MM/yyyy') : 'Sin turno asignado'}"
																class="ul-style"></li>

															<li th:text="${payment.paymentTime != null ? payment.paymentTime : ''}"
																class="ul-style time-style"></li>
														</ul>
													</div>
												</th>
												<td th:text="${payment.paymentType}"></td>
												<td class="hide-width" th:text="${payment.paymentQuantity}"
													style="padding-left: 4%;"></td>
												<td class="hide-width" th:text="${payment.paymentNumber}"
													style="padding-left: 5%;"></td>
												<!--									<td id="acciones" style="padding-left: 4%;">-->
												<!--										<div class="d-flex flex-column div-mover">-->
												<!--											<div class="ul-style d-flex flex-row">-->
												<!--												<a th:href="@{'/appointment/edit/' + ${student.id}} + '/' + ${appointment.id}"-->
												<!--													class="btn-href">-->
												<!--													Editar Turno </a>-->
												<!--												<div th:if="${appointment.appointmentComplete != 'Completado' -->
												<!--																											           and appointment.appointmentComplete != 'Inasistencia' -->
												<!--																											           and appointment.appointmentComplete != 'CanceladoB'}">-->
												<!--													<form-->
												<!--														th:action="@{'/appointment/Complete/student/' + ${appointment.id}}"-->
												<!--														method="post" enctype="multipart/form-data">-->
												<!--														<div class="d-flex flex-row">-->
												<!--															<select id="completedType" name="completedType"-->
												<!--																class="form-control">-->
												<!--																<option th:value="Completado" selected="selected">-->
												<!--																	Completado con exito</option>-->
												<!--																<option th:value="Inasistencia">-->
												<!--																	Inasistencia del alumno-->
												<!--																</option>-->
												<!--																<option th:value="CanceladoB"> Cancelado por-->
												<!--																	instructor-->
												<!--																</option>-->
												<!--																<input type="hidden" th:value="${student.id}"-->
												<!--																	id="studentId" name="studentId">-->
												<!--															</select>-->
												<!--															<div class="ml-7">-->
												<!--																<button type="submit"-->
												<!--																	class="btn btn-outline-primary boton-submit">Completar-->
												<!--																	turno</button>-->
												<!--															</div>-->
												<!--														</div>-->
												<!--													</form>-->
												<!--												</div>-->
												<!--											</div>-->
												<!--										</div>-->
												<!--									</td>-->
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--				<div>-->
	<!--					<h3>Próximas turnos</h3>-->
	<!--					<div th:each="appointment : ${upcomingAppointments}" class="appointmentCard">-->
	<!--						<p>Fecha: <span th:text="${appointment.appointmentDate}"></span></p>-->
	<!--						<p>Hora: <span th:text="${appointment.appointmentTime}"></span></p>-->
	<!--						<p th:if="${appointment.appointmentType != null}">Tipo de turno: <span-->
	<!--								th:text="${appointment.appointmentType != null ? appointment.appointmentType : ''}"></span>-->
	<!--						</p>-->
	<!--						<p th:if="${appointment.appointmentClassNumber != null}">clase numero: <span-->
	<!--								th:text="${appointment.appointmentClassNumber != null ? appointment.appointmentClassNumber : ''}"></span>-->
	<!--						</p>-->
	<!--						<p th:if="${appointment.appointmentComplete != null}">Estado del turno: <span-->
	<!--								th:text="${appointment.appointmentComplete != null ? appointment.appointmentComplete : ''}"></span>-->
	<!--						</p>-->
	<!--						TODO FIX THIS SHIT NOT SHOWING UP!!! -->
	<!--						<div th:if="${appointment.appointmentComplete != 'Completado' -->
	<!--																	           and appointment.appointmentComplete != 'Inasistencia' -->
	<!--																	           and appointment.appointmentComplete != 'CanceladoB'}">-->
	<!--							<form th:action="@{'/appointment/Complete/' + ${appointment.id}}" method="post"-->
	<!--								enctype="multipart/form-data">-->
	<!--								<div class="d-flex flex-row">-->
	<!--									<select id="completedType" name="completedType" class="form-control">-->
	<!--										<option th:value="Completado" selected="selected"> Completado con exito</option>-->
	<!--										<option th:value="Inasistencia"> Inasistencia del alumno </option>-->
	<!--										<option th:value="CanceladoB"> Cancelado por instructor </option>-->
	<!--									</select>-->
	<!--									<div class="ml-7">-->
	<!--										<button type="submit" class="btn btn-outline-primary boton-submit">Completar-->
	<!--											turno</button>-->
	<!--									</div>-->
	<!--								</div>-->
	<!--							</form>-->
	<!--						</div>-->
	<!--						<div th:if="${#lists.isEmpty(upcomingAppointments)}">-->
	<!--							<p>El Alumno no tiene turnos asignados...</p>-->
	<!--							<a th:href="@{'/appointment/' + ${student.id}}" class="btn-href mt-4">-->
	<!--								Agregar-->
	<!--								turno </a>-->
	<!--						</div>-->
	<!--					</div>-->

	<!--									<li class="ul-style time-style"-->
	<!--									th:text="${studentAppointment.paymentNumber != null ? studentAppointment.paymentNumber : ''}">-->
	<!--									</li> th:if="${!studentAppointment.studentGraduate} -->

	</div>
	</div>
	</div>
</body>

</html>