<!DOCTYPE html>
<html lang="en">
<html xmls:th="http://www.thymeleaf.org">

</html>

<head th:insert="~{layouts/head}"></head>

<body>
	<header th:insert="~{layouts/header}"></header>
	<script src="/js/script.js"></script>
	<div class="d-flex justify-content-center">
		<div class="container-page">
			<h2 th:text="${titulo}" class="py-4 text-center"></h2>
			<div class="container mt-4">
				<div class="card shadow-lg">
					<div class="card-header bg-primary text-white">
						<h4 class="mb-0">Registro de Estudiante</h4>
					</div>
					<div class="card-body">
						<form action="/student" method="post" th:object="${student}">
							<div class="row">
								<!-- Datos Personales -->
								<div class="col-md-6">
									<input th:field="${student.id}" th:value="${student.id}" type="hidden">
									<h5 class="text-secondary">Datos Personales</h5>
									<div class="mb-3">
										<label class="form-label">Nombre/s:</label>
										<input type="text" class="form-control" th:field="*{firstName}">
										<div th:if="${#fields.hasErrors('firstName')}" class="d-block">
											<p class="text-danger">Error Aqui, no debe estar vacio.</p>
										</div>
									</div>
									<div class="mb-3">
										<label class="form-label">Apellido:</label>
										<input type="text" class="form-control" th:field="*{lastName}">
										<div th:if="${#fields.hasErrors('lastName')}" class="d-block">
											<p class="text-danger">Error Aqui, no debe estar vacio.</p>
										</div>
									</div>
									<div class="mb-3">
										<label class="form-label">DNI:</label>
										<input type="text" class="form-control" th:field="*{studentDNI}"
											onkeypress="return isNumberKey(event)">
										<div th:if="${#fields.hasErrors('studentDNI')}" class="d-block">
											<p class="text-danger">Error Aqui, no debe estar vacio.</p>
										</div>
									</div>
									<div class="mb-3">
										<label class="form-label">Edad:</label>
										<input type="number" class="form-control" th:field="*{studentAge}"
											onkeypress="return isNumberKey(event)">
										<div th:if="${#fields.hasErrors('studentAge')}" class="d-block">
											<p class="text-danger">Error Aqui, no debe estar vacio.</p>
										</div>
									</div>
									<div class="mb-3">
										<label class="form-label">Teléfono:</label>
										<input type="text" class="form-control" th:field="*{studentTel}"
											onkeypress="return isNumberKey(event)">
										<div th:if="${#fields.hasErrors('studentTel')}" class="d-block">
											<p class="text-danger">Error Aqui, no debe estar vacio.</p>
										</div>
									</div>
									<div class="mb-3">
										<label class="form-label">Dirección:</label>
										<input type="text" class="form-control" th:field="*{studentAddress}">
										<div th:if="${#fields.hasErrors('studentAddress')}" class="d-block">
											<p class="text-danger">Error Aqui, no debe estar vacio.</p>
										</div>
									</div>
									<div class="mb-3">
										<label class="form-label">Partido:</label>
										<select class="form-select" th:field="*{studentPartido}" id="studentPartido">
											<option th:value="'La' + ' ' + 'Matanza'" selected>La Matanza</option>
											<option th:value="Quilmes">Quilmes</option>
											<option th:value="Lanús">Lanús</option>
											<option th:value="'Lomas' + ' ' + 'de' + ' ' + 'Zamora'">Lomas de Zamora
											</option>
											<option th:value="'Almirante'  + ' ' + 'Brown'">Almirante Brown</option>
											<option th:value="Moreno">Moreno</option>
											<option th:value="'San' + ' ' + 'Miguel'">San Miguel</option>
											<option th:value="Avellaneda">Avellaneda</option>
											<option th:value="Morón">Morón</option>
											<option th:value="Tigre">Tigre</option>
											<option th:value="Berazategui">Berazategui</option>
											<option th:value="'Vicente' + ' ' + 'López'">Vicente López</option>
											<option th:value="'Tres' + ' ' + 'de' + ' ' + 'Febrero'">Tres de Febrero
											</option>
											<option th:value="'José' + ' ' + 'C.' + ' ' + 'Paz'">José C. Paz
											</option>
											<option th:value="'San' + ' ' + 'Isidro'">San Isidro</option>
											<option th:value="'Hurlingham'">Hurlingham</option>
											<option th:value="Pilar">Pilar</option>
											<option th:value="Escobar">Escobar</option>
											<option th:value="'San' + ' ' + 'Fernando'">San Fernando</option>
											<option th:value="'Ituzaingó'">Ituzaingó</option>
											<option th:value="Ensenada">Ensenada</option>
											<option th:value="Berisso">Berisso</option>
										</select>
									</div>
								</div>

								<!-- Información del Curso -->
								<div class="col-md-6">
									<h5 class="text-secondary">Información del Curso</h5>

									<div class="mb-3">
										<label class="form-label">Fecha de inicio del curso:</label>
										<input type="date" id="studentCourseBegg" name="studentCourseBegg"
											class="form-control" th:field="*{studentCourseBegg}">
									</div>
									<div class="mb-3">
										<label class="form-label">Fecha de vencimiento del curso:</label>
										<input type="date" id="studentCourseEnd" name="studentCourseEnd"
											class="form-control" th:field="*{studentCourseEnd}">
									</div>
									<div class="mb-3">
										<label class="form-label">Faltas:</label>
										<input type="number" class="form-control" th:field="*{studentNonAtten}"
											onkeypress="return isNumberKey(event)">
									</div>
									<div class="mb-3 mt-4">
										<label for="studentClasses">Numero de clases que va a tomar el
											alumno</label>
										<input type="number" class="form-control" id="studentClasses"
											th:field="*{studentClasses}" name="studentClasses" placeholder="ejemplo: 12"
											onkeypress="return isNumberKey(event)">
									</div>
									<div class="mb-3 mt-4">
										<label for="studentClasses">Numero de clases que ya tomo el alumno</label>
										<input type="number" class="form-control" id="studentClasses"
											th:field="*{studentClasses}" name="studentClasses"
											placeholder="ejemplo: 2, por defecto 0"
											onkeypress="return isNumberKey(event)">
									</div>
									<div class="mb-3 mt-4">
										<label for="studentClasses">Fue atendido por:</label>
										<select th:field="*{studentRecepcionist}" class="form-select">
											<option value="" disabled selected>Seleccione un recepcionista</option>
											<!--											<option th:each="recepcionista : ${recepcionistas}"-->
											<!--												th:value="${recepcionista.employeeFirstName} + ' ' + ${recepcionista.employeeSecondName}"-->
											<!--												th:text="${recepcionista.employeeFirstName} + ' ' + ${recepcionista.employeeSecondName}"></option>-->
											<option th:each="recepcionista : ${recepcionistas}"
												th:value="|${recepcionista.employeeFirstName} ${recepcionista.employeeSecondName}|"
												th:text="|${recepcionista.employeeFirstName} ${recepcionista.employeeSecondName}|">
											</option>
										</select>
										<div th:if="${#fields.hasErrors('studentRecepcionist')}" class="d-block">
											<p class="text-danger">Error se debe seleccionar una opcion.</p>
										</div>
									</div>
								</div>
							</div>

							<hr>

							<!-- Evaluaciones y Prácticas -->
							<h5 class="text-secondary">Evaluaciones y Prácticas</h5>
							<div class="row">
								<div class="col-md-4">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" th:field="*{studentPdf}">
										<label class="form-check-label">Vio el PDF</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" th:field="*{studentVideoPista}">
										<label class="form-check-label">Vio el video de la pista</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" th:field="*{studentIncline}">
										<label class="form-check-label">Practico estacionar inclinado</label>
									</div>
									<div class="form-check">
										<div class="d-flex flex-row mb-3">
											<label class="form-check-label">Nota dada por examinador:</label>
											<select th:field="*{studentGrade}" id="studentGrade"
												class="form-control form-control-sm"
												style="width: 70px; margin-left: 2%; text-align: center;">
												<option th:value="0" selected="selected">Sin nota</option>
												<option th:value="1">1</option>
												<option th:value="2">2</option>
												<option th:value="3">3</option>
												<option th:value="4">4</option>
												<option th:value="5">5</option>
												<option th:value="6">6</option>
												<option th:value="7">7</option>
												<option th:value="8">8</option>
												<option th:value="9">9</option>
												<option th:value="10">10</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" th:field="*{studentZigZag}">
										<label class="form-check-label">Practicó ZigZag</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" th:field="*{studentEstacionar}">
										<label class="form-check-label">Practicó Estacionamiento</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" th:field="*{studentMotorTalk}">
										<label class="form-check-label">Tuvo la charla sobre el motor</label>
									</div>
								</div>
								<div class="col-md-4">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" th:field="*{studentGiroU}">
										<label class="form-check-label">Practicó Giro en U</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" th:field="*{student45degree}">
										<label class="form-check-label">Practicó los 45 Grados</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox"
											th:field="*{studentAdminSellCon}">
										<label class="form-check-label">Firmo el control administrativo de
											ventas</label>
									</div>
								</div>

								<hr>

								<!-- Comentario del Estudiante -->
								<div class="card mt-4">
									<div class="card-header bg-warning text-dark">
										<h5 class="mb-0" id="charCount">Comentario sobre el alumno (Máximo 500
											caracteres) 0/500</h5>
									</div>
									<div class="card-body">
										<textarea class="form-control" rows="4"
											style="max-height: 150px; overflow-y: auto;" th:field="*{studentComment}"
											id="StudentComment" oninput="updateCharCount()"></textarea>
									</div>
								</div>

								<hr>

								<!-- Estado y Recomendación -->
								<div class="row">
									<div class="col-md-6">
										<h5 class="text-secondary">Estado del Estudiante</h5>
										<div class="form-check">
											<input class="form-check-input" type="checkbox"
												th:field="*{studentGraduate}">
											<label class="form-check-label">¿Está graduado?</label>
										</div>
									</div>
									<div class="col-md-6">
										<h5 class="text-secondary">Recomendación</h5>
										<select class="form-select mb-5" th:field="*{studentRecomen}"
											id="studentRecomen">-->
											<option th:value="'No' + ' ' + 'recibio' + ' ' + 'recomendacion.'"
												selected="selected">
												no
												recibio recomendacion</option>
											<option th:value="Familiar">Familiar/Amigos</option>
											<option th:value="'Redes'+ ' ' +'Sociales'">Redes Sociales</option>
											<option th:value="Otro...">otro...</option>
										</select>
									</div>
								</div>

								<hr>

								<!-- Botones de Acción -->
								<div class="text-center">
									<button type="submit" class="btn btn-success">Guardar</button>
									<button type="reset" class="btn btn-secondary">Limpiar</button>
								</div>
						</form>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<script>

		function updateCharCount() {
			// Obtener el texto del textarea
			var text = document.getElementById('StudentComment').value;

			// Contar los caracteres
			var charCount = text.length;

			// Obtener el elemento del label y actualizar el texto
			var charCountLabel = document.getElementById('charCount');
			charCountLabel.textContent = 'Comentario sobre el alumno (Máximo 500 caracteres) ' + charCount + '/500';

			// Opcional: cambiar el color del texto si se acerca al límite
			if (charCount > 450) {
				charCountLabel.style.color = 'red'; // Rojo cuando esté cerca del límite
			} else {
				charCountLabel.style.color = '#555'; // Color por defecto
			}
		}

		function establecerFechaHoy() {
			let hoy = new Date();
			let fechaFormateada = hoy.toISOString().split('T')[0];
			let inputFechaInicio = document.getElementById('studentCourseBegg');
			inputFechaInicio.value = fechaFormateada;

			// Calcular fecha desde el inicio
			calcularFecha();
		}

		function sumarDiasSinDomingos(fecha, dias) {
			let contador = 0;
			let nuevaFecha = new Date(fecha); // Clonar la fecha original
			while (contador < dias) {
				nuevaFecha.setDate(nuevaFecha.getDate() + 1);
				if (nuevaFecha.getDay() !== 0) { // 0 es domingo
					contador++;
				}
			}
			return nuevaFecha;
		}

		function calcularFecha() {
			let fechaInicio = document.getElementById('studentCourseBegg').value;
			if (!fechaInicio) return;

			let fecha = new Date(fechaInicio);
			let nuevaFecha = sumarDiasSinDomingos(fecha, 20);
			document.getElementById('studentCourseEnd').value = nuevaFecha.toISOString().split('T')[0];
		}

		// Ejecutar la primera función al cargar la página
		window.onload = establecerFechaHoy;

		// Ejecutar la segunda función cuando se cambie el valor del primer input
		document.getElementById('studentCourseBegg').addEventListener('input', calcularFecha);

	</script>
</body>

</html>